@import "tailwindcss";

html, body { height: 100%; }
body { background: #09090b; color: #fff; }
::selection { background: rgba(255,255,255,.2); }
* { scrollbar-width: thin; scrollbar-color: #444 transparent; }
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: #444; border-radius: 999px; }
*::-webkit-scrollbar-track { background: transparent; }
